// ==========================================================================
// Base Styles
// ==========================================================================

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.wrapper {
  flex: 1;
}