// ==========================================================================
// Utilities
// ==========================================================================

// Import if Google Fonts URL is defined

@if variable_exists(font-url--google) {
	@import url($font-url--google);
}

// Functions and Directives


// Mixins
$mq-xs: 480px;
$mq-small: 630px;
$mq-medium: 800px;
$mq-large: 1023px;

@mixin responsive($device) {
	@if $device == "xs" {
		@media screen and (max-width: $mq-xs) { @content; } // $mq-small: 320px;
	}
	@if $device == "sm" {
		@media screen and (max-width: $mq-small) { @content; } // $mq-small: 480px;
	}
	@if $device == "md" {
		@media screen and (max-width: $mq-medium) { @content; } // $mq-medium: 768px;
	}
	@if $device == "lg" {
		@media screen and (max-width: $mq-large) { @content; } // $mq-large: 1023px;
	}
	@else {
		@media screen and(max-width: $device) { @content; }
	}
}

@mixin side-border($side, $color, $px: 1px, $line: solid) {
	border-#{$side}: $px $line $color;
}

@function em($px, $base: $base-font-size) {
    @return ($px / $base) * 1rem;
}