footer {
	width: 100%;
	@extend %bg-blue;
	height: 100px;
	line-height: 100px;
	font-size: $large-font-size;	
	.footer {
		width: 1140px;
		margin: 0 auto;
		@extend %clearfix;
		@include responsive(md) {
			width: 100%;
			height: 100%;
		}
		@include responsive(xs) {
			line-height: 1.5;
		}
		h5 {
			margin: 0;
			text-align: center;
			@extend %mute-link;
			@include responsive(xs) {
				float: none;
				padding-top: 3%;
			}
		}
	}
}